html {
  font-family: 'Montserrat', sans-serif;
}

/* SIDEBAR */
/* ------------------------------------------------------- */


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #F1F1F1;
}

.main-title {
  padding: 15px;
  padding-bottom: 0;
  margin-top: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0 !important;
  vertical-align: bottom;
}

.search {
  margin: 15px;
  background-color: white;
  border-radius: 25px;
}

.searchlabel {
  padding-left: 15px;
}

input {
  border: none !important;
  margin: 0 !important;
}

.md-form .form-control {
  padding: .3rem 0 .7rem !important;
}

.smart-title,
.img-search-title {
  padding: 15px;
  font-weight: 500;
  margin-bottom: 0 !important;
  padding-bottom: 0;
  margin-top: 2.5rem;
}

.smart-buttons-container {
  margin: 10px;
  padding-left: 15px;
}

.smart-button {
  display: inline;
}

.btn-color1 {
  background-color: #BD10E0 !important;
  border-radius: 15px !important;
  box-shadow: none !important;
}

.btn-color2 {
  background-color: #F5A623 !important;
  border-radius: 15px !important;
  box-shadow: none !important;
}

.btn-color3 {
  background-color: #7ED321 !important;
  border-radius: 15px !important;
  box-shadow: none !important;
}

.btn-color4 {
  background-color: #F33C53 !important;
  border-radius: 15px !important;
  box-shadow: none !important;
}

.btn-color5 {
  background-color: #4B53FF !important;
  border-radius: 15px !important;
  box-shadow: none !important;
}

.btn {
  padding: .5rem 1.5rem !important;
  color: white !important;
  font-weight: 300 !important;
}

.dropzone-container {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
}

.dropzone {
  min-height: 150px;
  border: 2px dashed rgba(75, 83, 255, 0.5) !important;
  background: white;
  padding: 20px 20px;
}



/* MAIN */
/* ------------------------------------------------------------ */
.main-side-title {
  padding: 15px;
  padding-left: 0;
  padding-bottom: 0;
  margin-top: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  vertical-align: bottom;
}

.main {
  width: 100%;
  padding-left: 300px;
  opacity: 1;
  transition: 0.2s ease opacity;
}

.hidden {
  opacity: 0;
}

.pic-container {
  margin: 2rem;
}

.grid-item { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
  /* width: auto; */
  /* background-color: gray; */
  margin: .5rem; 
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.grid-item img {
  height: 100%;
}

.selected-item {
  height: 16rem;
  vertical-align: middle;
}

.selected-item img {
  max-width: 40%;
  margin-top: 5%;
  margin-left: 3.5rem;
}

.grid-item--width2 { 
  width: 16rem; 
  height: 16rem;
}

#container {
  /* either of these will work for horizontal Isotope layouts */
  height: 80%;
  height: 480px;
}


.large-photo-container {
  width: 100%;
  transition-timing-function: ease-in-out;
  position: relative;
}

.bar {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 1px;
  margin: 0 auto;
  left: 5%;
  border-bottom: 1px solid #969696;
}

.exit {
  position: absolute !important;
  right: 10%;
  top:0;
  border-radius: 25px !important;
  background-color: #4B53FF !important;
}

.similar-title {
  padding: 15px;
  font-weight: 500;
  margin-bottom: 0 !important;
  padding-bottom: 0;
  margin-top: 2.5rem;
}

.create-album {
  margin-top: -10px !important;
  border-radius: 15px !important;
  box-shadow: none !important;
}

.placeholder {
  width: 9rem;
  height: 9rem;
  background-color: #969696;
}

#similar {
  visibility: hidden;
}

#load-more-btn {
  margin: 0 auto;
  display: block;
  background-color: blue;
}