<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>albm</title>
  <link rel="stylesheet" href="{{url_for('static', filename='capture.css')}}">
</head>
<body>
    <div id='contentContainer'>
        <div id='searchBar'>

        </div>
        <div id='bubblesCarousel'>
            <div class='bubble' style='background-color: rgb(200, 255, 255)'><div>Beach</div></div>
            <div class='bubble' style='background-color: rgb(255, 255, 170)'><div>Sand Castle</div></div>
            <div class='bubble' style='background-color: rgb(85, 207, 207)'><div>Mountain</div></div>
            <div class='bubble' style='background-color: rgb(235, 135, 230)'><div>Amusement Park</div></div>
            <div class='bubble' style='background-color: rgb(174, 177, 177)'><div>Castle</div></div>
            <div class='bubble' style='background-color: rgb(105, 177, 105)'><div>Sporting Event</div></div>
            <div class='bubble' style='background-color: rgb(200, 255, 255)'><div>Beach</div></div>
            <div class='bubble' style='background-color: rgb(255, 255, 170)'><div>Sand Castle</div></div>
            <div class='bubble' style='background-color: rgb(85, 207, 207)'><div>Mountain</div></div>
            <div class='bubble' style='background-color: rgb(235, 135, 230)'><div>Amusement Park</div></div>
            <div class='bubble' style='background-color: rgb(174, 177, 177)'><div>Castle</div></div>
            <div class='bubble' style='background-color: rgb(105, 177, 105)'><div>Sporting Event</div></div>
            <div class='bubble' style='background-color: rgb(200, 255, 255)'><div>Beach</div></div>
            <div class='bubble' style='background-color: rgb(255, 255, 170)'><div>Sand Castle</div></div>
            <div class='bubble' style='background-color: rgb(85, 207, 207)'><div>Mountain</div></div>
            <div class='bubble' style='background-color: rgb(235, 135, 230)'><div>Amusement Park</div></div>
            <div class='bubble' style='background-color: rgb(174, 177, 177)'><div>Castle</div></div>
            <div class='bubble' style='background-color: rgb(105, 177, 105)'><div>Sporting Event</div></div>
        </div>
    </div>
    <div id='dragArea'>
        <div>
            <p>upload image,</p>
            <p>drag and drop...</p>
        </div>
    </div>
  <script src="{{url_for('static', filename='capture.js')}}"></script>
</body>
</html>